.HeaderLogo {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: url(../../../public/image/redstring.png);
  background-position: 50% 50%;
  background-size: cover;
  font-family: 'AgathigyRegular';
  font-size: 36px;
}
.HeaderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    text-decoration: none;
  }
}
