.PostImage {
  margin: 3%;
  width: 150;
  height: 150;
}
.PostWrapper {
  border-bottom: 1px solid rgb(51, 51, 51);
  border-top: 1px solid rgb(51, 51, 51);
  a {
    color: aliceblue;
    text-decoration: none;
  }
  padding-left: 1%;
  padding-right: 1%;
}
.ContFirstInfo {
  color: grey;
}
